@font-face {
	font-family: 'ia-icon-font';
	src:url('fonts/ia-icon-font.eot?5e8fh8');
	src:url('fonts/ia-icon-font.eot?#iefix5e8fh8') format('embedded-opentype'),
		url('fonts/ia-icon-font.ttf?5e8fh8') format('truetype'),
		url('fonts/ia-icon-font.woff?5e8fh8') format('woff'),
		url('fonts/ia-icon-font.svg?5e8fh8#ia-icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =================
Things on the image */

.ia-main {
	position: relative;
	padding: 0;
	display: inline-block;
}

.ia-main p,
.ia-main img,
p.comment-image,
p.comment-image img {
	margin: 0;
	padding: 0;
	line-height: 0;
}

p.comment-image img {
	width: auto;
}

.anotBox {
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	z-index: 999;
	border-radius: 15px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(254,254,254,1);
	box-shadow: 0 0 6px rgba(0,0,0,0.8);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.ia-area {
	position: absolute;
	z-index: 299;
	border: 2px solid #000;
	background: rgba(0,0,0,0.08);
	border-radius: 15px;
	box-shadow: none;
}

.ia-area.hovered {
	background: rgba(255,255,255,0.15);
}

.ia-area a {
	width: 100%;
	height: 100%;
	display: block;
	z-index: 333;
	text-decoration: none;
	border-bottom: none !important;
}

.ia-hover-cloud {
	position: absolute;
	padding: 15px 9px 4px 0px;
	z-index: 400;
	min-width: 140px;
}

.ia-hover-cloud-text {
	position: relative;
	margin-top: 0px;
	background: #f5f5f5;
	border: none;
	border-radius: 3px;
	padding: 3px 9px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	font-size: 0.65em;
}

.ia-hover-cloud-text:after {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 11px solid #f5f5f5;
	content: '';
	position: absolute;
	top: -11px;
	left: 10px;
}

.ia-main:hover .ia-area-vis-switch,
.ia-main:hover .ia-annotations-vis-switch {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.ia-area-vis-switch,
.ia-annotations-vis-switch {
	background: #fff;
	position: absolute;
	right: 5px;
	width: 30px;
	height: 30px;
	padding: 0px;
	border-radius: 15px;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	-moz-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	-ms-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	-o-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	z-index: 399;
}

.ia-area-vis-switch { top: 5px; }

.ia-annotations-vis-switch { bottom: 5px; }

.ia-area-vis-switch, .ia-annotations-vis-switch,
.ia-del, .ia-edit, .ia-reply {
	font-family: 'ia-icon-font';
	font-size: 25px;
	text-align: center;
	color: #024;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 30px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ia-area-vis-switch:hover, .ia-annotations-vis-switch:hover,
.ia-del:hover, .ia-edit:hover, .ia-reply:hover { color: #b30; }

.ia-area-vis-switch.hide:before, .ia-area-vis-switch.show:hover:before { content: "\69"; }

.ia-area-vis-switch.hide:hover:before, .ia-area-vis-switch.show:before { content: "\49"; }

.ia-annotations-vis-switch.hide:before, .ia-annotations-vis-switch.show:hover:before { content: "\6c"; }

.ia-annotations-vis-switch.hide:hover:before, .ia-annotations-vis-switch.show:before { content: "\4c"; }


/* ==========
List of comments */

.ia-annotations {
	background: #fff;
}

.ia-annotations ul {
	list-style: none;
	margin: 0 0 10px 0 !important;
}

.ia-annotations ul li {
	padding: 0px 8px 0px 8px;
	border-radius: 2px;
	border: none;
	/* border-bottom: 1px solid #eaeaea; */
	margin: 0 0 1px 0;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	min-height: 72px;
	box-sizing: border-box;
}

li.ia-annotation > ul {
	margin: 10px 0 0 0 !important;
}

.ia-annotations ul li span.ia-date {
	font-size: 0.65em;
	font-weight: 500;
	color: #777;
}

.ia-annotations ul li span.ia-edited {
	font-size: 0.65em;
	font-weight: 500;
	margin-left: 3px;
	color: #444;
}

.ia-annotations ul li span.ia-author {
	font-size: 0.65em;
	margin-left: 7px;
	font-weight: 700;
}

.ia-annotations ul li span.ia-text {
	display: block;
	font-size: 0.8em;
	line-height: 1.5em;
	max-height: 200px;
	overflow: auto;
}

.ia-annotations ul li.ia-annotation {
	-webkit-transition: background 0.15s ease-out;
	-moz-transition: background 0.15s ease-out;
	-ms-transition: background 0.15s ease-out;
	-o-transition: background 0.15s ease-out;
	transition: background 0.15s ease-out;
}

.ia-annotations ul li.ia-annotation.hovered {
	background: rgba(252,252,252,1);
}

/*.ia-annotation:hover .ia-del,
.ia-annotation:hover .ia-edit,
.ia-annotation:hover .ia-reply {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}*/

.ia-b-hover {
	visibility: visible !important;
	opacity: 1 !important;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;	
}

.ia-reply, .ia-del, .ia-edit {
	background: transparent;
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
	padding: 0px;
	border-radius: 15px;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	-moz-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	-ms-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	-o-transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out;
	z-index: 1111;
}

.ia-reply:before { content: "\72"; }

.ia-reply:hover:before { content: "\52"; }

.ia-del:before { content: "\64"; }

.ia-del:hover:before { content: "\44"; }

.ia-edit:before { content: "\65"; }

.ia-edit:hover:before { content: "\45"; }

.ia-reply { right: 2px; }

.ia-del { right: 32px; }

.ia-edit { right: 64px; }

.ia-di-none { display: none; }

.ia-endedit {
	display: none;
	font-size: 0.65em;
	font-weight: 500;
	color: #444;
	position: absolute;
	margin-top: 8px;
	right: 8px;
}


/* =================
Comment and reply form box */

.anotText {
	z-index: 999;
	box-shadow: 0 0 3px #aaa;
	background: #f4f4f4;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	display: none;
	padding: 10px;
	margin: 10px 0 10px 0;
}

.anotText textarea,
.ia-edit-form textarea {
	padding-left: 3px;
	margin: 5px 0 0 0;
	/*width: 98%;*/
	font-size: 0.85em;
}

textarea.ia-annot-edit {
	font-size: 0.85em;
	margin-right: 34px;
}

.anotText button,
.ia-edit-form button {
	padding: 8px 16px;
	margin: 7px 7px 0 0;
	border-radius: 3px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 0.65em;
}

.anotText button.ia-ok,
.ia-edit-form button.ia-ok {
	background: #666;
	font-weight: bold;
	color: #fff;
	border: 1px solid #aaa;
}

.anotText button.ia-disabled,
.anotText button.ia-disabled:hover,
.ia-edit-form button.ia-disabled,
.ia-edit-form button.ia-disabled:hover {
	background: transparent;
	border: 1px solid #ccc;
	color: rgba(102, 102, 102, 0.50);
	font-weight: normal;
}

.anotText button.ia-cancel,
.ia-edit-form button.ia-cancel {
	background: transparent;
	border: 1px solid #ccc;
	color: #666;
}

.anotText button.ia-cancel:hover,
.ia-edit-form button.ia-cancel:hover {
	background: #eee;
	border-color: #ccc;
}

.anotText button.ia-ok:hover,
.ia-edit-form button.ia-ok:hover {
	background: #888;
	border-color: #ccc;
}

/* =================
JQuery UI */

.ia-main .ui-resizable-se {
	right: -7px;
	bottom: -7px;
}